<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="2" cellspacing="2">
      <tr>
        <td colspan="5" bgcolor="#CCCCCC"><strong>STO Summary</strong></td>
        </tr>
      <tr>
        <td align="center" bgcolor="#CCCCCC"><strong>STO Number</strong></td>
        <td align="center" bgcolor="#CCCCCC"><strong>Plant Code</strong></td>
        <td align="center" bgcolor="#CCCCCC"><strong>Date Posted</strong></td>
        <td align="center" bgcolor="#CCCCCC"><strong>PID Count</strong></td>
        <td align="center" bgcolor="#CCCCCC"><strong>Quantity</strong></td>
        </tr>
      #sto_summary#
      <tr>
        <td colspan="3" align="right" bgcolor="#CCCCCC"><strong>Total</strong></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="2" cellspacing="2">
      <tr>
        <td colspan="4" bgcolor="#CCCCCC"><strong>Stacking Summary</strong></td>
        </tr>
      <tr>
        <td align="center" bgcolor="#CCCCCC"><strong>Type</strong></td>
        <td align="center" bgcolor="#CCCCCC"><strong>Full</strong></td>
        <td align="center" bgcolor="#CCCCCC"><strong>Part</strong></td>
        <td align="center" bgcolor="#CCCCCC"><strong>Total</strong></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
        <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
        <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
        <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
